.navbar {
  background-color: black !important;
}

.login-signup-btn{
  display: inline-block;
  padding: 10px 20px;
  border: 10px;
  border-radius: 10px;
  margin: 20px;
  background-color: #FBF0DD;
  color: #6A3D08;
  text-decoration: none;
}

.company-name {
  font-family: "Rozha One", serif;
  color: #f5d69c;
  font-size: 1.5rem;
}

#hero {
  background-image: url(../images/hero_section_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#hero-cafe {
  background-image: url(../images/black-squirrel-cafe.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#hero-cafe .d-flex{
  height: 70vh;
}

#hero-cafe h1 {
  font-family: "Rozha One", serif;
}

#hero-cafe p {
  font-family: "Rozha One", serif;
}

#hero .d-flex{
  height: 70vh;
}


#hero h1 {
  font-family: "Rozha One", serif;
}

#hero p {
  font-family: "Rozha One", serif;
}

.section-id {
  font-family: "Rozha One", serif;
}

.card-book .card-title{
  font-family: "Rozha One", serif;
}

.card-book{
  background-color: #FBF0DD; 
  color: #6A3D08;            
  border: 10px solid #FBF0DD; 
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}



.home-book-btn {
  font-family: "Rozha One", sans-serif;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: #6A3D08;
  color: #FBF0DD;
  text-decoration: none;
}


.card-book img{
 height: 300px;
 display: block;
  margin-left: auto;
  margin-right: auto;
}

#new-releases h2,
#featured h2 {
  font-family: "Rozha One", serif;
  color: #6A3D08;
}

#cafe-items h2 {
  font-family: "Rozha One", serif;
}

.card-food {
  background-color: #FBF0DD;
  margin: 20px;
  border-radius: 10px;
}

.card-food img {
  height: 200px;
  object-fit: cover;
  align-items: center;
}

.card-food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-food .card-title{
  font-family: "Rozha One", serif;
}

.card-food p{
  font-family: "Rozha One", serif;
}

.card-food h4{
  font-family: "Rozha One", serif;
}


.section-id .cart-items {
  font-family: "Rozha One", serif;
}


.cart-title {
  font-family: 'Rozha One', serif;
}

.cart-book{
  background-color: #FBF0DD;
  border-radius: 10px;
  margin: 25px;
}

.card-img-top {
  width: 200px;  
  height: auto;   
  border-radius: 6px;
}

.cart-book {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
}
 
.cart-book .card-title{
  font-family: "Rozha One", serif;
  color: #6A3D08;
}

.cart-book h4 {
  font-family: "Rozha One", serif;
  margin-top: 10px;
  color: #6A3D08;
}

.cart-book h3 {
  font-family: "Rozha One", serif;
  color: #6A3D08;
}

.cart-book p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 15px;
}

.cart-items .container {
  font-family: "Rozha One", serif;
}

.cart-summary {
font-family: "Rozha One", serif;  
color: #6A3D08;
}


.cart-guest-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 10px;
  border-radius: 10px;
  margin: 20px;
  background-color: #FBF0DD;
  color: #6A3D08;
  text-decoration: none;
}

.cart-login-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 10px;
  border-radius: 10px;
  margin: 20px;
  background-color: #6A3D08;
  color: #FBF0DD;
  text-decoration: none;
}

.footer {
  background-color: black !important; 
  color: #fff !important;            
}


