.navbar {
  background-color: black !important;
}

.company-name {
  font-family: "Rozha One", serif;
  color: #f5d69c;
  font-size: 1.5rem;
}

#hero {
  background-image: url(../images/hero_section_photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#hero-cafe {
  background-image: url(../images/black-squirrel-cafe.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#hero-cafe .d-flex{
  height: 70vh;
}

#hero-cafe h1 {
  font-family: "Rozha One", serif;
}

#hero-cafe p {
  font-family: "Rozha One", serif;
}

#hero .d-flex{
  height: 70vh;
}


#hero h1 {
  font-family: "Rozha One", serif;
}

#hero p {
  font-family: "Rozha One", serif;
}

.section-id {
  font-family: "Rozha One", serif;
}

.card-book .card-title{
  font-family: "Rozha One", serif;
}

#card-book{
  background-color: #000000; 
  color: #f5d69c;            
  border: 1px solid #f5d69c; 
  margin: 25px;
}

.card-book img{
 height: 300px;
}

#new-releases h2,
#featured h2 {
  font-family: "Rozha One", serif;
}

#cafe-items h2 {
  font-family: "Rozha One", serif;
}

.card-food {
  background-color: #f5d69c;
  margin: 20px;
  border-radius: 10px;
}

.card-food img {
  height: 200px;
  object-fit: cover;
  align-items: center;
}

.card-food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-food .card-title{
  font-family: "Rozha One", serif;
}

.card-food p{
  font-family: "Rozha One", serif;
}

.card-food h4{
  font-family: "Rozha One", serif;
}


.section-id .cart-items {
  font-family: "Rozha One", serif;
}


.cart-title {
  font-family: 'Rozha One', serif;
}

.cart-book{
  background-color: #f5d69c;
  border-radius: 10px;
  margin: 25px;
}

.card-img-top {
  width: 200px;  
  height: auto;   
  border-radius: 6px;
}

.cart-book {
  display: flex;
  align-items: flex-start;
}
 
.cart-book .card-title{
  font-family: "Rozha One", serif;
}

.cart-items .container {
  font-family: "Rozha One", serif;
}

.cart-summary {
font-family: "Rozha One", serif;  

}


.footer {
  background-color: #000 !important; 
  color: #fff !important;            
}


